<div class="project-info">
    <div class="project-header">
      <h2>YoungStar Club</h2>
      <img src="assets/images/logo_ys.png" alt="YoungStar Club Logo" class="project-logo">
    </div>
  
    <div class="project-details">
      <div class="section">
        <h3>Role</h3>
        <p>To Develop a Responsive Site</p>
      </div>
  
      <div class="section">
        <h3>Technology Used</h3>
        <p>HTML5/CSS3, JavaScript, Bootstrap, PHP, jQuery, Adobe Illustrator, Adobe Photoshop, MAMP Server, Sublime</p>
      </div>
  
      <div class="section">
        <h3>Overview</h3>
        <p><a href="http://youngstarclub.com/" target="_blank" class="project-link">www.youngstarclub.com</a> is a football club website located in Pokhara, Nepal, founded in 2010 to promote local talent and host national and social events.</p>
      </div>
  
      <div class="section">
        <h3>Project Breakdown</h3>
        <ul>
          <li>Research</li>
          <li>Brainstorming</li>
          <li>Sitemap</li>
          <li>Wireframe/Mockup</li>
          <li>Feedback</li>
          <li>Design</li>
          <li>Development</li>
          <li>Testing</li>
          <li>Launching</li>
        </ul>
      </div>
    </div>
  
    <div class="project-gallery">
      <h3>Sitemap</h3>
      <img src="assets/images/sitemap.png" alt="SiteMap" class="project-image">
  
      <h3>Wireframes of Individual Pages</h3>
      <div class="scroll-container">
        <div class="scroll-item" *ngFor="let wireframe of wireframeImages">
          <img [src]="wireframe.src" [alt]="wireframe.alt" class="scroll-image">
          <p class="image-caption">{{ wireframe.caption }}</p>
        </div>
      </div>
    </div>
  
    <div class="project-prototype">
      <h3>Low-Mid Fidelity Prototype</h3>
      <video width="100%" controls>
        <source src="assets/images/prototype.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  
    <div class="project-footer">
      <h3>Logo Design & Look and Feel</h3>
      <img src="assets/images/font1.png" alt="Font Design" class="project-image">
      <img src="assets/images/lf.png" alt="Look and Feel" class="project-image">
    </div>
  </div>
  