.skills-section {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: #f8faff;
  color: #e0e0e0;
}

.skills-section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.skill {
  background: #2c3e50;
  border-radius: 10px;
  padding: 1.5rem;
  transition: transform 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Ensure all elements are stacked vertically */
  justify-content: space-between; /* Space between content and progress bar */
  height: 200px; /* Set a consistent height */
}

.skill:hover {
  transform: translateY(-5px);
}

.skill-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.skill-header i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #555;
}

.skill-header h3 {
  font-size: 1.5rem;
  color: #d7e1b8;
}

.skill p {
  font-size: 1rem;
  color: #dbd3d3;
  margin-bottom: 1rem;
  flex-grow: 1; /* Pushes the progress bar to the bottom */
}

.skill-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.skill-bar .skill-progress {
  height: 10px;
  background-color: #1abc9c; 
  transition: width 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr;
  }

  .skill {
    height: auto; /* Let height adjust naturally for smaller screens */
  }
}
